.messages{
    display: flex;
    justify-content: center;

    .container{
        width: 100%;
        padding: 50px 0;
        // min-height: 69vh;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;

           
        }

        table{
            width: 100%;

            tr{
                height: 100px;

                th{
                    text-align: left;
                }

                td{
                   padding: 10px;

                   #bt,button{
                    background-color: #1dbf73;
                    color: white;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                }
                  

                   &:first-child{
                    font-weight: 500;
                   }
                   
                   &:nth-child(2),&:nth-child(3){
                    color: gray;
                   }
                }

                button{
                    background-color: #1dbf73;
                    color: white;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                }

                &.active{
                    background-color: #1dbf730f;
                }
            }
        }
        .ordeal{
            text-align: center;
            margin-top: 20%;
            font-size: 38px;
            color: #3d6990;
        }
    }
    
}